
#appointments {
  margin-bottom: 20px;  
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  #appointments {
    margin-bottom: 10px;  
    width: 100%;
    margin: auto;
   
  }
}