#appointment_new_form {
  width: 85%;
  margin: 30px;
}

#jumbotron {
  display: grid;
  width: 40%;
  margin: auto;
  margin-top: 10px;
  align-content: center;
  justify-content: center;
}

#jumbo {
  align-items: center;
  justify-content: center;
}