#jumbotron {
  border-style: solid;
  background-color: brown;
}

@media screen and (max-width: 600px) {
  #jumbotron {
    border-style: solid;
    background-color: blue;
    width: 100%;
  }
}