<div id="footer" class="container-fluid-sm row">
    <div class="col-sm p-3 bg-white text-dark">
        <p><b>Primary Care</b><br></p>
        <p>Providing wider coverage of health care.</p><br>
    </div>
    <div class="col-sm p-3 bg-white text-dark">
        <p><b>Emergency care</b> <br></p> 
        <p>If you need a doctor urgently outside our opening ours, call our emergency number for emergency services.</p><br>
    </div>
    <div class="col-sm p-3 bg-white text-dark">
        <p><b>Online Appointment</b> <br></p>
        <p>Complete the form to book an appointment with us today.</p><br>
    </div>
</div>

<div id="copyright" class="container-fluid-sm row">
    <div class="col-sm p-3 text-white">click here to learm more about us</div>
    <div class="col-sm p-3 text-white">exclusive member of ISHDP</div>
    <div class="col-sm p-3 text-white">Copyright 2022 by UkwuomaFortune</div>
</div>
</div>