
<nav class="navbar navbar-expand-lg navbar-light bg-primary p-2">
  <a class="navbar-brand text-white" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="ul">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#">Health Information</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">Departments</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">First Department</a></li>
          <li><a class="dropdown-item" href="#">Second Department</a></li>
          <li><a class="dropdown-item" href="#">Third Department</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Events</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link text-white" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>