<div  class="container-fluid-sm">
  <div class="nav_bar">
    <div><a class="navbar-brand" href="#">Home</a></div>
    <div class="nav_bar_div">
      <div><a class="nav-link" href="#">About Us</a></div>
      <div><a class="nav-link" href="#">Health Information</a></div>
      <div><a class="nav-link" href="#">Events</a></div>
      <div>
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Deparments</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">First Department</a></li>
            <li><a class="dropdown-item" href="#">Second Department</a></li>
            <li><a class="dropdown-item" href="#">Third Department</a></li>
          </ul>
      </div>
      <div><a class="nav-link" href="#">Contact Us</a></div>
    </div>
  </div>
</div>