
<nav class="navbar navbar-expand-lg navbar-light bg-primary p-2">
  <%= link_to "Home", homes_index_path, class: "navbar-brand text-white"%>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="ul">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#">Health Information</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">Departments</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">First Department</a></li>
          <li><a class="dropdown-item" href="#">Second Department</a></li>
          <li><a class="dropdown-item" href="#">Third Department</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Events</a>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Dashboard", dashboards_index_path, class: "nav-link text-white"%>
      </li>
      <% end %>
      
      <li class="nav-item">
        <a class="nav-link text-white" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Contact Us</a>
      </li>

      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Sign out", destroy_user_session_path(@user), class: "nav-link text-white" %>
      </li>
      <% end %>
      
    </ul>
  </div>
</nav>