<div id='about_page'>
  <br />
  <h2>About Our Hospital</h2>
  <p>We have delivered excellence in medical diagnostics in Nigeria since 2004, providing families with high-quality diagnostic care and supporting medical professionals with our expertise.</p>

  <p>We offer a comprehensive range of medical laboratory services for patients, practising physicians, clinics and the pharmaceutical industry. We are part of the a Group, the undisputed leader in the European market for medical laboratory services.</p>
  <br />

  

  <strong>Millions of people trust us to provide reliable medical testing and deliver fast and accurate results:</strong>

  <p>223,000 - patients served per year *</p>

  <p>1 million + - results given per year</p>

  <i>*2021</i>
  <br /> <br />

  

  <h2>Our Mission</h2>
  <p>At our hospital, we strive to make excellent medical diagnostic services accessible to Nigerians.</p>

  <p>Our presence in Nigeria will increase our capacity to provide proper service delivery to our patients and doctors.</p>

  

  <p>To help us achieve this, we must:</p>
  <br />

  <strong>Be The Leader In Medical Diagnostics</strong>

  <p>Our goal is to position our hospital as the clear leader in medical diagnostics in Nigeria, West Africa and Africa. We strive to have the most dedicated employees in the industry, and we are committed to skills development and training and ensuring a positive work culture and room for growth at all times.</p>

  

  <strong>Drive Digitised Processes</strong>

  <p>To stay at the forefront of the sector, we strive to be a digital company focused on driving efficiencies through technology and innovation, delivering faster outcomes, improving patient care, streamlining processes and creating value-added workflows.</p>

  

  <strong>Foster And Promote Sustainability</strong>

  <p>We strive to be a pioneer in the Nigerian healthcare sector using sustainable energy in line with WHO goal for hospitals to become carbon neutral all over the world.</p>

  

  <strong>Expand Public-Private-Partnerships</strong>

  <p>One of the challenges we face in Nigeria is access to quality health services. The government has many responsibilities in different sectors but have limited resources. For this reason, we support government institutions through public-private partnerships to provide quality and accessible healthcare to our people. We currently support Lagos State Teaching Hospital (LUTH), Maternal and Child Care (MCC) Hospital Ajah, and Delta State University Teaching Hospital (DELSUTH) in this regard. Our goal is to make excellent medical diagnostics accessible in sub-Saharan Africa, starting with Nigeria.</p>

  <p>Due to the challenges of managing health facilities in Nigeria and the significant investment required to establish and operate a standard facility, there is an urgent need for the government to work with the private sector to accelerate access to quality healthcare in the country.</p>

  <p>To achieve this, a public-private partnership framework is envisioned.</p>

  <p>Through our PPP framework, the government will have access to the capital and skills (management and technical) it needs to drive advancements in the sector it wants to improve.</p>

  <p>Our partnerships are structured to ensure a win-win scenario to collaborate with the government to deliver effective solutions to manage infrastructure deficiencies in all sectors and address the challenges of providing quality health services.</p>
  <br />
  

  <h2>Commitment to Quality and Reliability</h2>
  <p>WE are the first medical laboratory in West Africa to achieve ISO 15189 international accreditation in 2006, setting the benchmark for quality analysis in Nigeria.</p>

  <p>We are unique in Africa because of the special attention and care given to patients from outstanding service delivery, improved operational efficiency, innovation and investment in state-of-the-art diagnostic technology. We are committed to best practices and the highest ethical standards.</p>
  

  <strong>Organisational Goals</strong>
  <ul>
    <li>To domesticate tests that are currently referred to reference laboratories abroad by building local capacity and training staff with the necessary skills. This will lead to better service delivery and reduced turnaround times.</li>
    <li>To expand our national footprint and make reliable testing accessible across a broader geographic region. </li>
    <li>To achieve 80% turnaround time at all locations and effectively resolve customer complaints.</li>
    <li>To achieve all external quality controls in all disciplines (Haematology, Serology, Endocrinology, Chemistry, Microbiology, and Histopathology) to a standard recognised by international authorities.</li>
    <li>To develop and retain newly qualified scientists and phlebotomists through essential training and staff development to build future industry leaders.</li>
    <li>To promote corporate sustainability through waste reduction and compliance with health and safety regulations: to reduce paper consumption by automatically transferring measurement results rather than printing them out.</li>
  </ul>
  

  <h2>Award-winning medical diagnostics</h2>
  <strong>‘Private Laboratory Service Provider of the Year’ in Nigeria 2014 - 2021</strong>

  <p>We are the current titleholder of the 'Private Laboratory Service Provider of the Year' in Nigeria, awarded by the Nigeria Health Excellence Awards. We have continuously received this award since its inception in 2014.</p>

  <p>Over the past two years, we have also proven its ability to support the government and the public with Covid-19 testing. WE were recognised as the 'Most Outstanding Covid-19 Private Laboratory of the Year 2020' The award was bestowed by the Nigeria Health Excellence Awards.</p>


  <strong>Our Plans To Expand</strong>

  <p>In line with our mission to transform healthcare in Africa through superior diagnosis, we are planning to expand our geographical footprint and open a further 25 centres in the next few years and expand into States where SYNLAB does not currently have representation.</p>


  <h2>Innovative diagnostics</h2>
  <p>We are the preferred partner for the public and private sectors for innovative diagnostics. Through continuous research and collaboration with universities and the pharmaceutical industry, we can make new tests available to the medical community at an early stage.</p>

  <p>Our research focuses on genetics, women's health, cardiology, nutrigenomics and others. At the same time, we are constantly improving our IT solutions and services. We use PathProvider as our electronic results platform, so you can access your results on the go as soon as they become available in the lab.</p>

  <p>We are committed to developing personalised medicine, and one area of personalised medicine that we focus on is pharmacogenetics. The efficacy of a drug is highly dependent on the genetic variations of patients. Therapies are becoming more sophisticated, but at the same time, they are becoming more individualised. One advanced field in this area of medicine is companion diagnostics.</p>

  <p>Companion diagnostics refers to diagnostics created in parallel with drug development, which enables physicians to make better decisions about drug efficacy and dosage.</p>

  <p>We have entered this diagnostics area to provide physicians with the latest and most innovative service offerings.</p>

  

  <h2>Customer Commitment and Service</h2>
  <p>We are committed to continuously improving the service we provide to our clients and patients. Our focus is on providing the best possible service to our patients in everything we do.</p>

  

  <strong>With Us, You Can Count On:</strong>
  <ol>
    <li>Consistently accurate test results</li>
    <li>An uncompromising approach to quality</li>
    <li>Daily excellence</li>
    <li>Affordable prices</li>
    <li>Timely delivery of test results</li>
  </ol>

  <p>Our clients and patients are at the heart of everything we do. We would appreciate your feedback if you feel we are not delivering on our promise to provide superior service.</p>
  <br /> <br />
  

  <h2>The Management Team</h2>
</div>
<%= render "homes/footer" %>