
<div class="container-fluid-sm">

<div id="carousel" class="container-fliud-sm bg-secondary">

    <div id="overlay">
    <div id="overlay1" class="container-fliud-sm row">
        <h1>Welcome to our Hospital's appointment booking site</h1><br/>
    </div>
    <div id="overlay2" class="container-fliud-sm row">
        <h3>Making Healthcare Better Together.</h3><br/>
        <p>From our network of medical professionals to our state-of-the-art equipment, we offer only the best laboratory services. With more than 5,000 tests on offer, Our hospital has the largest, most comprehensive test offering in Africa. We are able to support our doctors and our patients in ways not possible before. Together, we are building a stronger healthcare system in Nigeria and you are part of the change.</p>
        <div  id="overlay2_div" class="row">
            <div id="overlay2_div1" class="col-sm">
                <%= link_to "appointments", appointments_path, class: "link" %>
            </div>
            <div id="overlay2_div2" class="col-sm">
                <%= link_to "Sign-Up", new_user_registration_path, class: "link" %>
            </div>
        </div>
    </div>
    </div>

</div>

<div id="footer" class="container-fluid-sm row">
    <div class="col-sm-4 p-3 bg-white text-dark">
        <p><b>Primary Care</b><br></p>
        <p>Providing wider coverage of health care.</p><br>
    </div>
    <div class="col-sm-4 p-3 bg-white text-dark">
        <p><b>Emergency care</b> <br></p> 
        <p>If you need a doctor urgently outside our opening ours, call our emergency number for emergency service.</p><br>
    </div>
    <div class="col-sm-4 p-3 bg-white text-dark">
        <p><b>Online Appointment</b> <br></p>
        <p>Complete the form to book an appointment with us today.</p><br>
    </div>
</div>

<div id="copyright" class="container-fluid-sm row">
    <div class="col-sm p-3 text-white">click here to learm more about us</div>
    <div class="col-sm p-3 text-white">exclusive member of ISHDP</div>
    <div class="col-sm p-3 text-white">Copyright 2022 by UkwuomaFortune</div>
</div>
</div>
