#about_page {
  padding: 0rem 10rem;
  text-align: justify;
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 1000px) {
  #about_page {
    padding: 0rem 0rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  #about_page {
    padding: 0rem 0rem;
    font-size: 0.8rem;
  }
}