
#carousel {
  background-image: url(doctor7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  #carousel {
    height: auto;
  }
}

#overlay {
  width: 50%;
  text-align: justify;
}
@media screen and (max-width: 600px) {
  #overlay {
    width: 100%;
  }
}

#overlay1 {
  padding-bottom: 2em;
  width: 80%;
}

#overlay2_div {
  width: 60%;
}
@media screen and (max-width: 600px) {
  #overlay2_div {
    width: 100%;
  }
}

#overlay2_div1 {
  height: 40px;
  width: 150px;
  margin-right: 20px;
  background-color: blue;
  border-style: solid;
  border-color: blue;
  text-align: center;
  color: white;
  padding: 5px;
}

#overlay2_div2 {
  height: 40px;
  width: 150px;
  margin-right: 20px;
  background-color: white;
  border-style: solid;
  border-color: blue;
  text-align: center;
  padding: 5px;
}

.link {
  text-decoration: none;
  color: black;
}

#footer {
  background-color: rgb(46, 16, 214);
  height: auto;
  align-content: end;
  justify-content: center;
  gap: 30px;
  padding: 2em 2em 0em 2em;
}

#footer div {
  background-color: white;
  height: auto;
  width: 350px; 
  text-align: center;
  
}

#copyright {
  text-align: center;
  background-color: rgb(51, 42, 31);
}

#navbarSupportedContent {
align-content: end;
justify-content: end;
}

#ul {
  gap: 30px;
}